@using VeterinarySystem.Core.Models.Appointment
@using VeterinarySystem.Core.Infrastructure
@model AppointmentServiceModel

<div class="card" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">Appointment Info</h5>
		<p class="card-text">Description: @Model.Description</p>
		<p class="card-text">Date: @Model.AppointmentDate</p>
		<p class="card-text">Owner: @Model.FullName</p>
		<a class="btn btn-primary" asp-controller="Appointment" asp-action="Details" asp-route-id="@Model.Id" asp-route-information="@Model.GetInformationWithDescription()">Details</a>
	</div>
</div>