@using VeterinarySystem.Core.Models.Animal
@model AnimalServiceModel

@{
	ViewData["Title"] = "Animal Details";
	int id = Model.OwnerId;
}

<h1>AnimalDetails</h1>

<div>
	<h4>AnimalServiceModel</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Age)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Age)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Weight)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Weight)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.AnimalTypeName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.AnimalTypeName)
		</dd>
	</dl>
	<a class="btn btn-primary" asp-controller="AnimalOwner" asp-action="Details" asp-route-id="@Model.OwnerId">Back To Owner</a>
	<a class="btn btn-primary" asp-controller="Prescription" asp-action="Add" asp-route-id="@Model.Id">Add new prescription to record</a>
	<a class="btn btn-primary" asp-controller="Procedure" asp-action="Add" asp-route-id="@Model.Id">Add new procerure to record</a>
	<a class="btn btn-danger" asp-controller="Animal" asp-action="Delete" asp-route-id="@Model.Id">Delete Animal</a>
</div>
<div>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	<a asp-controller="AnimalOwner" asp-action="AnimalOwnerDetails" asp-route-id="@Model.OwnerId">Back to List</a>
</div>
