@using VeterinarySystem.Core.Models.Appointment
@model AppointmentServiceModel

@{
	ViewData["Title"] = "Detais";
}

<h1>Details</h1>

<div>
	<h4>AppointmentServiceModel</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.AppointmentDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.AppointmentDate)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.IsUpcoming)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.IsUpcoming)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.OwnerFullName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.OwnerFullName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StaffName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StaffName)
		</dd>
	</dl>
	<form class="ml-2" asp-controller="Appointment" asp-action="ChangeStatus" asp-route-id="@Model.Id" method="post">
		<input class="btn btn-primary" type="submit" value="Change Upcoming Status" />
	</form>
	<br/>
	<form class="ml-2" asp-controller="Appointment" asp-action="DeleteAppointment" asp-route-id="@Model.Id" method="post">
		<input class="btn btn-primary" type="submit" value="Delete Appointment" />
	</form>
</div>
<div>
	@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
	<a asp-action="Index">Back to List</a>
</div>
