@using VeterinarySystem.Core.Models.Prescription
@model PrescriptionServiceModel

@{
	ViewData["Title"] = "Detais";
}

<h1>Details</h1>

<div>
	<h4>AppointmentServiceModel</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Number)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Number)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.IssueDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.IssueDate)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.AnimalName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.AnimalName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StaffName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StaffName)
		</dd>
	</dl>
	<br />
	<a class="btn btn-primary" asp-controller="Animal" asp-action="Details" asp-route-id="@Model.AnimalId">Back To Animal</a>
	<a class="btn btn-primary" asp-controller="Prescription" asp-action="Edit" asp-route-id="@Model.Id">Edit Prescription</a>
	<a class="btn btn-danger" asp-controller="Prescription" asp-action="Delete" asp-route-id="@Model.Id">Delete Appointment</a>
</div>
