@using Animal.Animal
@model AnimalServiceModel

@{
	
}
<div class="card" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">Animal Info</h5>
		<p class="card-text">Name: @Model.AnimalName</p>
		<p class="card-text">Type: @Model.AnimalTypeName</p>
		<p class="card-text">Age: @Model.Age</p>
		<p class="card-text">Weight: @Model.Weight</p>
		<a class="btn btn-primary" asp-controller="Animal" asp-action="Details" asp-route-id="@Model.Id">Details</a>
	</div>
</div>