@model VeterinarySystem.Core.Models.AnimalOwner.OwnerServiceModel

@{
    ViewData["Title"] = "AnimalOwnerDetails";
}

<h1>AnimalOwnerDetails</h1>

<div>
    <h4>AnimalOwnerDetailsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAnimalsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAnimalsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalVisits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalVisits)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditOwner", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
