@using AnimalOwner.AnimalOwner
@model OwnerServiceModel

@{
	ViewData["Title"] = "Owner Details";
}

<div>
	<h4>Owner Details</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FullName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FullName)
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PhoneNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PhoneNumber)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TotalAnimalsCount)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TotalAnimalsCount)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TotalVisits)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TotalVisits)
		</dd>
	</dl>
	<a class="btn btn-primary" asp-controller="Animal" asp-action="Add" asp-route-id="@Model.Id">Add new Animal</a>

	<a class="btn btn-primary" asp-controller="Appointment" asp-action="Add" asp-route-id="@Model.Id">Add new Appointment</a>

	<a class="btn btn-danger" asp-controller="AnimalOwner" asp-action="Delete" asp-route-id="@Model.Id">Delete Owner</a>
</div>
<h4>Pets</h4>
@if (!Model.Animals.Any())
{
	<h2 class="text-center">This owner has no pets</h2>
}
<div class="row">
	@foreach (var animal in Model.Animals)
	{
		<partial name="_OwnersAnimalsPartial" model="@animal" />
	}
</div>